#map { height: 90%; }

#buttonContainer{
    position: absolute;
    top: 10px;
    left: 100px;
    z-index: 1000;
}

.buttons{

    background-color: black;
    color: white;
    height: 40px;
    width: 140px;
    font-size: 25px;

}